<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>Angular JS Sample</title>
</head>
<body>

<div ng-controller="FirstCtrl">
    Name: <input type="text" ng-model="data.name" />
    <h2>Hello {{data.name}}</h2>
    <h2>Hello {{reversed(data.name)}}</h2>
    <input type="button" value="Push Me" ng-click="onPushMe()" />

</div>

<div flash>Div with attribute directive here.</div>
<superman enter="foo" leave="bar"></superman>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script type="text/javascript" src="scripts/first.js"></script>
</body>
</html>
